@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="icons  gap-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <!-- Cart -->
        <div class="icon">
            <i class="fa fa-shopping-cart"></i>
            <a class="nav-link" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                Your Cart
                <span class="badge bg-primary" id="cart-count">0</span>
            </a>
        </div>

        <!-- Hello, Username -->
        <div class="icon">
            <i class="fas fa-user"></i>
            <a id="manage" class="nav-link " asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
              Your profile
            </a>
        </div>

        <!-- Logout Button -->
        <div class="icon">
            <i class="fas fa-right-from-bracket"></i>
            <form id="logoutForm" class="form-inline p-0 m-0" asp-area="Identity" asp-page="/Account/Logout"
                  asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit"
                        class="btn btn-link nav-link  text-decoration-none text-primary d-inline border-0">
                    Logout
                </button>
            </form>
        </div>

    }
    else
    {
        <!-- Register -->
        <div class="icon">
            <i class="fas fa-user-plus"></i>
            <a class="nav-link " id="register" asp-area="Identity" asp-page="/Account/Register">
                Register
            </a>
        </div>

        <!-- Login -->
        <div class="icon d-flex align-items-center gap-2">
            <i class="fas fa-right-to-bracket"></i>
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </div>
    }
</div>
