@model ShoppingCartVM
<form method="post">
    <br />
    <div class="container">
        <div class="card shadow border-0">
            <div class="card-header" style="background-color:#0d0d12 ; padding-top: 25px; padding-bottom: 25px;">
                <div class="row px-4">
                    <div class="col-6">
                        <h4 class="pt-2 text-light" style="font-size: 26px;">Order Summary</h4>
                    </div>
                    <div class="col-6 text-end">
                        <a asp-action="Index" asp-controller="Cart" class="btn btn-outline-light btn-sm">Back to Cart</a>
                    </div>
                </div>
            </div>

            <div class="card-body bg-light">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <h4 style="color:#D10024;">Shipping Details:</h4>
                            @* First Name *@
                            <div class="row my-1">
                                <div class="col-3"><label>First Name</label></div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.FirstName" class="form-control" />
                                    <span asp-validation-for="OrderHeader.FirstName" class="text-danger"></span>
                                </div>
                            </div>
                            @* Last Name (fix incorrect binding) *@
                            <div class="row my-1">
                                <div class="col-3"><label>Last Name</label></div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.LastName" class="form-control" />
                                    <span asp-validation-for="OrderHeader.LastName" class="text-danger"></span>
                                </div>
                            </div>
                            @* Address Details *@
                            <div class="row my-1">
                                <div class="col-3"><label>Street Address</label></div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.StreetAddress" class="form-control" />
                                    <span asp-validation-for="OrderHeader.StreetAddress" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3"><label>City</label></div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.City" class="form-control" />
                                    <span asp-validation-for="OrderHeader.City" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3"><label>Country</label></div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.Country" class="form-control" />
                                    <span asp-validation-for="OrderHeader.Country" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3"><label>Phone Number</label></div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3"><label>State</label></div>
                                <div class="col-9">
                                    <input asp-for="OrderHeader.State" class="form-control" />
                                    <span asp-validation-for="OrderHeader.State" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-lg-5 offset-lg-1">
                            <h4 style="color:#D10024;">Order Summary:</h4>
                            <ul class="list-group mb-3">
                                @foreach (var detail in Model.ShoppingCartList)
                                {
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0">@detail.Product.Name</h6>
                                            <small class="text-muted">Quantity: @detail.count</small>
                                        </div>
                                        <span class="text-muted">@((detail.Product.Price * detail.count).ToString("C"))</span>
                                    </li>
                                }
                                <li class="list-group-item d-flex justify-content-between bg-light">
                                    <small style="color:#D10024;">Total (USD)</small>
                                    <strong style="color:#D10024;">@Model.OrderHeader.OrderTotal.ToString("C")</strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="background-color: #f8f9fa;">
                <div class="row">
                    <div class="col-12 col-md-8 pt-2">
                        @* Optional arrival info here *@
                    </div>
                    <div class="col-12 col-md-4">
                        <button type="submit" class="btn btn-danger form-control">Place Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
