@page
@model RegisterModel

<section class="h-100 w-100">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-10">
                <div class="card shadow-lg" style="border-radius: 15px;">
                    <div class="card-body p-4">
                        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="row g-4">
                                <!-- Left Side -->
                                <div class="col-lg-6">
                                    <h3 class="fw-bold text-primary mb-4">General Information</h3>

                                    <div class="mb-3">
                                        <label asp-for="Input.FirstName" class="form-label">First Name</label>
                                        <input asp-for="Input.FirstName" class="form-control" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Input.LastName" class="form-label">Last Name</label>
                                        <input asp-for="Input.LastName" class="form-control" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>

                                  
                                    <div class="mb-3">
                                        <label asp-for="Input.Gender" class="form-label">Gender</label><br>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" asp-for="Input.Gender" value="Female" required>
                                            <label class="form-check-label">Female</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" asp-for="Input.Gender" value="Male" required>
                                            <label class="form-check-label">Male</label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" asp-for="Input.Gender" value="Other" required>
                                            <label class="form-check-label">Other</label>
                                        </div>

                                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                                    </div>


                                    <div class="row g-2">
                                        <div class="col-md-4">
                                            <label asp-for="Input.BirthYear" class="form-label">Year</label>
                                            <input asp-for="Input.BirthYear" class="form-control" />
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="Input.BirthMonth" class="form-label">Month</label>
                                            <input asp-for="Input.BirthMonth" class="form-control" />
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="Input.BirthDay" class="form-label">Day</label>
                                            <input asp-for="Input.BirthDay" class="form-control" />
                                        </div>
                                    </div>

                                    @if (User.IsInRole(SD.Role_User_Admin))
                                    {
                                        <div class="mt-3">
                                            <label asp-for="Input.Role" class="form-label">Role</label>
                                            <select asp-for="Input.Role" asp-items="@Model.RoleList" class="form-select">
                                                <option disabled selected>--Select Role--</option>
                                            </select>
                                        </div>
                                    }
                                    <button id="registerSubmit" type="submit" class="btn btn-primary mt-4 w-25">Register</button>
                                </div>
                              
                                <!-- Right Side -->
                                <div class="col-lg-6 bg-light p-4 rounded">
                                    <h3 class="fw-bold text-primary mb-4">Contact Details</h3>

                                    <div class="mb-3">
                                        <label asp-for="Input.Email" class="form-label">Email</label>
                                        <input asp-for="Input.Email" class="form-control" />
                                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Input.Password" class="form-label">Password</label>
                                        <input asp-for="Input.Password" class="form-control" type="password" />
                                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                                    </div>

                                    <div class="mb-3">
                                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                                        <input asp-for="Input.ConfirmPassword" class="form-control" type="password" />
                                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                    </div>

                                    <div class="row g-2">
                                        <div class="col-md-4">
                                            <label asp-for="Input.Country" class="form-label">Country</label>
                                            <select asp-for="Input.Country" asp-items="@Model.CountryList" class="form-select">
                                                <option disabled selected>--Select Country--</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="Input.City" class="form-label">City</label>
                                            <input asp-for="Input.City" class="form-control" />
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="Input.Street" class="form-label">Street</label>
                                            <input asp-for="Input.Street" class="form-control" />
                                        </div>
                                    </div>



                                    <div class="row g-2">
                                        <div class="col-md-5">
                                            <label class="form-label">Country Code</label>
                                            <select asp-for="Input.CountryCode" class="form-select" required>
                                                <option value="+1">+1 (USA)</option>
                                                <option value="+44">+44 (UK)</option>
                                                <option value="+49">+49 (Germany)</option>
                                                <option value="+91">+91 (India)</option>
                                                <option value="+20">+20 (Egypt)</option>
                                                <option value="+971">+971 (UAE)</option>
                                               
                                            </select>
                                        </div>

                                        <div class="col-md-7">
                                            <label asp-for="Input.PhoneNumber" class="form-label">Phone Number</label>
                                            <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Enter phone number" required />
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <style>
        body {
            background: linear-gradient(to right, rgba(161, 196, 253, 1), rgba(194, 233, 251, 1));
        }

        .bg-light {
            background-color: #679acd !important;
        }
    </style>
}
